<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="landingpage.css">
</head>

<body>
    <main>
        <section class="glass">
            <div class="heading">
                <h1>Rate</h1>
                <h2>A website where workers rate the companies under MSMEs</h2>
            </div>
            <div class="ill">
                <img src="illustrationfinal.svg">
            </div>


        </section>
    </main>
    <main>
        <section class="glass1">
            <div class="heading1">
                <h1>Criteria</h1>
                <div class="criteria">
                    <ul>
                    <li><h2>training, good working environment</h2></li>
                    <li><h2>EPF benefits </h2></li>
                    <li><h2>health consciousness for workers </h2></li>
                    <li><h2>developing team spirit among workers</h2></li>
                    <li><h2>implementation of various new processes</h2></li>
                    <li><h2>inclusion of environmental</h2></li>
                    <li><h2>protection policies. </h2></li>
                    </ul>
                </div>
            </div>
            <div class="ill1">
                <img src="illfinal.svg">
            </div>


        </section>
    </main>

</body>

</html>